{% extends 'base.html' %}
{% block content %}


        <div class="w-full md:w-2/3 order-2 md:order-2 border-t md:border-none">
            <div class="max-w-prose leading-loose tracking-tight">   
              {% for post in object_list%} 
                <h1 class="font-bold my-6">{{ post.title }} <br>{{ post.post_date }} <br> <span class="text-blue-700 hover\:text-blue-500">{{ post.category }}</span></h1>
                <p>{{ post.body | safe | slice:700 }} ... </p>
                <a href="{% url 'article' post.pk %}" class="text-blue-700 hover\:text-blue-500">Continue</a>
                <hr>
                {% endfor %}
            </div>
        </div>
   
</body>
{% endblock %}

