<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dwight Ledet</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <style>
        .quicksand {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-700 font-sans quicksand">
    <div class="p-6 sm:p-10 md:p-16 flex flex-wrap">
        <div class="w-full md:w-1/3 md:pr-32 order-1 md:order-1">
            <div class="max-w-md md:float-right md:text-right leading-loose tracking-tight md:sticky md:top-0 ">

                <ul class="flex flex-wrap uppercase justify-center md:border-r flex-row my-4 md:my-12 md:flex-col">
                    <li><a class="mr-5 hover:text-blue-700" href="{% url 'home' %}">Home</a></li>
                    <li><a class="mr-5 hover:text-blue-700" href="{% url 'articles' %}">Articles</a></li>
                    <li><a class="mr-5 hover:text-blue-700" href="{% url 'notes' %}">Notes</a></li>
                    <li><a class="mr-5 hover:text-blue-700" href="https://github.com/daledet" target="blank">Code</a></li>
                    <a class="mr-5 hover:text-blue-700" href="mailto:dwightledet@gmail.com">Contact</a>
                    <li><a class="mr-5 hover:text-blue-700" href="{% url 'projects' %}">Projects</a></li>
                    <li><a class="mr-5 hover:text-blue-700" href="{% url 'cv' %}" target="blank">CV</a></li>
                </ul>
            </div>
        </div>
{% block content %}

{% endblock %}
</body>
</html>