<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="STS|AI|NN">
    <meta name="keywords" content="resume,cv,Dwight Ledet">
    <meta name="author" content="Dwight Ledet">
    <!-- <meta name="robots" content="noindex"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Dwight Ledet | CV</title>
</head>

<body>
    <main class="font-firago hyphens-manual">

        <!-- Page -->
        <div class="p- mx-auto page max-w-6xl print:max-w-letter md:max-w-letter md:h-letter xsm:p-8 sm:p-9 md:p-16 bg-white">

            <!-- Name -->
            <header class="flex items-center mb-8 md:mb-11">

                <h1 class="text-2xl font-semibold text-gray-800 pb-px">
                    Dwight Ledet
                </h1>
                
            </header>
            <!-- end Name -->

            <!-- Column -->
            <div class="border-t md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto">

                <section class="mt-8 first:mt-0">

                    <!-- To keep in the same column -->
                    <div class="break-inside-avoid">

                        <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                            ABOUT
                        </h2>
                        <section class="mb-4 break-inside-avoid">
                            <header>
                                <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                    Artifical Neural Networks
                                </h3>
                                <p class="leading-normal text-md text-gray-600">
                                    Since 2020
                                </p>
                            </header>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Development and application of neural networks to renewable energy technology / Currently developing neural networks for hybrid offshore wind farms
                            </p>
                        </section>

                        <section class="mb-4 break-inside-avoid">
                            <header>
                                <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                    Research Scientist
                                </h3>
                                <p class="leading-normal text-md text-gray-600">
                                    Since 2019
                                </p>
                            </header>
                            <p class="mt-2 text-md text-gray-700 leading-normal">Primary fields: Energy; complex adaptive systems; AI and machine learning; artifical neural networks </p>
                            <p class="mt-2 text-md text-gray-700 leading-normal">Other research interests: General
                                economy /
                                globalization /
                                world systems; the consumer society; philosophical anthropology
                            </p>
                        </section>

                    </div>


                    <section class="mb-4 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                Drilling Automation Developer
                            </h3>
                            <p class="leading-normal text-md text-gray-600">
                                2014 - 2019
                            </p>
                        </header>
                        <p class="mt-2 text-md text-gray-700 leading-normal">
                            Specialized automation for Constant Bottom Hole Pressure, Managed Pressure Drilling (MPD)
                            and Closed Hole
                            Circulation Drilling / Pressurized Mud Cap Drilling (CHCD / PMCD)
                        </p>
                    </section>

                    <section class="mb-4 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                Drilling Engineer
                            </h3>
                            <p class="leading-normal text-md text-gray-600">
                                2001 - 2014
                            </p>
                        </header>
                        <p class="mt-2 text-md text-gray-700 leading-normal">
                            Supervision and Project Management of Managed Pressure Drilling (MPD) / Closed Hole
                            Circulation Drilling
                            /Pressurized Mud Cap (CHCD / PMCD), directional / horizontal drilling, and related projects
                        </p>
                    </section>

                </section>

                <section class="mt-8 first:mt-0">

                    <!-- To keep in the same column -->
                    <div class="break-inside-avoid">

                        <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                            EXPERIENCE
                        </h2>

                        <section class="mb-4 break-inside-avoid">
                            <header>
                                <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                    Independent Professional Consultant
                                </h3>
                                <p class="leading-normal text-md text-gray-600 mt-2">
                                    2007 - 2019 | International
                                </p>

                                <h2 class="leading-normal text-md text-gray-600 mt-2">
                                    Herald Javelin LLC
                                </h2>
                            </header>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of drilling automation software development to improve accuracy, reduce
                                cost, increase
                                uptime, and increase safety. Specialized automation for Constant Bottom Hole Pressure,
                                Managed Pressure
                                Drilling (MPD) and Closed Hole Circulation Drilling / Pressurized Mud Cap Drilling (CHCD
                                / PMCD)
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                AGIP North Caspian Operating Co. N.V / ExxonMobil - Atyrau, Kazakhstan
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of Managed Pressure/Pressurized Mud Cap (PMCD) drilling operations in a
                                highly fractured
                                carbonate reservoir, with severe and uncontrollable losses and high H2S concentrations
                                (above 25%), in
                                the Kashagan East field located in the North Caspian Sea.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                Target Energy – Kenya, Africa
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of directional drilling operations for Geothermal wells in the Menengai
                                Crater - Nakuru,
                                Kenya.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                Chevron - Perth / Barrow Island, Australia
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of land based directional drilling project including horizontal
                                directional production wells into the Mardie B formation as well as vertical and J-well
                                designs for
                                water source and CO2 injection for the Chevron Gorgon Project.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                RasGas / ExxonMobil - Doha, Qatar
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Project Management and on-site supervision of the Barzan Red-Well, Pressurized Mud Cap
                                (PMCD) drilling
                                operations in a high H2S, fractured carbonate reservoir with severe and uncontrollable
                                losses.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                QatarGas / ConocoPhillips - Doha, Qatar
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Prepared rig and
                                well-specific operating procedures and contingency plans and provide PMCD training to
                                office,
                                engineering, drilling, and service personnel.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                Royal Dutch Shell - Rijswijk, Netherlands
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Drilling engineering supervisor for the Supervisory Control and Drilling Automation
                                (SCADA) project.
                                Provided office-based engineering support for the software automation team and on-site
                                drilling
                                supervision for SCADA deployment in the Groningen gas field.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                Antero Resources – Pennsylvania, USA
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of land-drilling operations for Coal Bed Methane (CBM) horizontal,
                                underbalanced, concentric
                                string, multilateral project.
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-2">
                                AGIP North Caspian Operating Co. N.V. - Kazakhstan
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Supervision of multiple Managed Pressure/Pressurized Mud Cap Mud Cap (PMCD) drilling
                                operations in a
                                highly fractured carbonate reservoir with severe and uncontrollable losses and high H2S
                                concentrations
                                (above 25%) in the Kashagan, Kairan, and Aktote fields located in the North Caspian Sea
                                (Deutag T-47,
                                Parker 257 (Sunkar), Pride 319, Saipem 401 & 402)
                            </p>
                        </section>
                    </div>

                    <section class="mb-4 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 mt-4 mt-2 leading-snug">
                                Baker Hughes Inteq - International</h3>
                            <p class="leading-normal text-md text-gray-600 mt-1">
                                2003 - 2007 | Drilling Systems Engineer
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Perenco - Gabon, West Africa
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Grondin Field, Offshore Gabon </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Royal Dutch Shell - Gabon, West Africa
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Rabi Kounga Field, Western Gabon</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Chevron - Songkhla, Thailand - Gulf of Thailand
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Pattani Trough and the Malay Basin,
                                Gulf of Thailand</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                PTT Exploration and Production - Phitsanoluk, Thailand
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Sirikit Main Oilfield, Phitsanoluk
                                Basin, Onshore Thailand</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Gaz de France - Den Helder, Netherlands - North Sea
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Groningen gas field and the Dutch
                                sector of the North Sea</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Exxon Neftegas Limited - Sakhalin Island, Russia
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Chayvo Field, Sakhalin
                                Shelf, Offshore Sakhalin Island, Russia</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Saudi Aramco - Dammam, Saudi Arabia
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Ghawar Field, Eastern Saudi Arabia</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Maersk Oil and Gas - Esbjerg, Denmark - North Sea
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Gorm Field, North Sea</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Japan Petroleum Exploration Company - Tomakomai, Japan
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Yufutsu oil and gas field, eastern
                                Tomakomai, Hokkaido</p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Abu Dhabi Company for Onshore Oil Operations (ADCO) - Abu Dhabi, UAE
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Bu Hasa oil field, West Abu Dhabi</p>
                        </header>
                    </section>
                    <section class="mb-4 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 mt-4 leading-snug">
                                Baker Hughes Inteq - United States</h3>
                            <p class="leading-normal text-md text-gray-600 mt-1">
                                2001 - 2003 | Drilling Systems Engineer
                            </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Williston, North Dakota
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Bakken Formation,
                                Williston Basin </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Casper, Wyoming
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Jonah Field, Green River Basin </p>
                            <h2 class="leading-normal text-md text-gray-600 mt-1">
                                Grand Junction, Colorado
                            </h2>
                            <p class="mt-2 text-md text-gray-700 leading-normal">
                                Denver-Julesburg Basin, eastern
                                Colorado and the Rulison Field, Piceance Basin, Northwestern Colorado </p>
                        </header>
                    </section>

                    <section class="mt-8 first:mt-0">

                        <!-- To keep in the same column -->
                        <div class="break-inside-avoid">

                            <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                                EDUCATION
                            </h2>

                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                        University of Stavanger - Norway </h3>
                                    <p class="leading-normal text-md text-gray-600">
                                        Master of Arts - Sociology - Energy | Environment | Society
                                    </p>
                                </header>
                            </section>

                        </div>

                        <section class="mb-4 break-inside-avoid">
                            <header>
                                <h3 class="text-lg font-semibold text-gray-700 mt-2 leading-snug">
                                    Oregon State University </h3>
                                <p class="leading-normal text-md text-gray-600">
                                    Bachlor of Science - History of Science
                                </p>
                            </header>
                        </section>


                    </section>

                    <section class="mt-8 first:mt-0">

                        <!-- To keep in the same column -->
                        <div class="break-inside-avoid">

                            <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                                PROJECTS
                            </h2>
                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-700 mt-2 leading-snug">
                                        <a target="blank" href="https://github.com/daledet/wind-project" class="group">
                                            Hybrid Offshore Wind Farm Project - Ongoing
                                            <span class="inline-block text-gray-700 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                                        </a>
                                    </h3>
                                    <p class="leading-normal text-md text-gray-600">
                                        Since 2020 | Python 
                                    </p>
                                </header>
                                <p class="mt-2 text-md text-gray-700 leading-normal">
                                        Development and application of neural networks to hybrid offshore wind farms for dual electricity and hydrogen production
                                </p>
                            </section>

                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-700 leading-snug">
                                        <p>
                                            Project Expat
                                            <span class="inline-block text-gray-700 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in"></span>
                                        </p>
                                    </h3>
                                    <p class="leading-normal text-md text-gray-600">
                                        Since 2019 | Social Systems / Complex Adaptive Systems
                                    </p>
                                </header>
                                <p class="mt-2 text-md text-gray-700 leading-normal">
                                    Expatriates experience repatriation issues stemming from political and moral
                                    changes, both
                                    within
                                    themselves and in their country of
                                    origin. Long term expatriates cross a cultural event horizon after which returning
                                    home becomes
                                    impossible.
                                </p>
                                <p class="mt-2 text-md text-gray-700 leading-normal"> Project Expat seeks a better
                                    understanding of this
                                    phenomenon and seeks to discover ways to
                                    provide
                                    nations, corporations, and individuals with tools to overcome these difficulties.
                                </p>
                            </section>

                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-700 mt-2 leading-snug">
                                        <a target="_blank" href="https://wellsav.com" class="group">
                                            Wellsav Drilling Automation Software
                                            <span class="inline-block text-gray-700 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                                        </a>
                                    </h3>
                                    <p class="leading-normal text-md text-gray-600">
                                        Since 2017 | Python / JavaScript / PHP
                                    </p>
                                </header>
                                <p class="mt-2 text-md text-gray-700 leading-normal">
                                    Specialized automation for Constant Bottom Hole Pressure, Managed Pressure Drilling
                                    (MPD) and Closed
                                    Hole
                                    Circulation Drilling / Pressurized Mud Cap Drilling (CHCD / PMCD)
                                </p>
                            </section>

                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-700 mt-2 leading-snug">
                                        <a target="_blank" href="https://geografie.cz/" class="group">
                                            Czech Geographic Society
                                            <span class="inline-block text-gray-700 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                                        </a>
                                    </h3>
                                    <p class="leading-normal text-md text-gray-600">
                                        Since 2016 | Human Geography and Regional Development
                                    </p>
                                </header>
                                <p class="mt-2 text-md text-gray-700 leading-normal">
                                    English language editing and revision
                                </p>
                            </section>
                    </section>
                    <section class="mt-8 first:mt-0">
                        <!-- To keep in the same column -->
                        <div class="break-inside-avoid">
                            <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                                SKILLS
                            </h2>
                            <section class="mb-4 break-inside-avoid">
                                <header>
                                    <h3 class="text-lg font-semibold text-gray-600 leading-snug">
                                        Python
                                    </h3>
                                    <!-- <p class="leading-normal text-md text-gray-600">
                    Middle Level
                  </p> -->
                                    <h3 class="text-lg font-semibold text-gray-600 leading-snug">
                                        PHP
                                    </h3>
                                    <!-- <p class="leading-normal text-md text-gray-600">
                    Middle Level
                  </p> -->
                                    <h3 class="text-lg font-semibold text-gray-600 leading-snug">
                                        JavaScript
                                    </h3>
                                    <!-- <p class="leading-normal text-md text-gray-600">
                    Middle Level
                  </p> -->
                                </header>
                        </div>
                    </section>
                </section>

                <section class="mt-8 first:mt-0">

                    <!-- To keep in the same column -->
                    <div class="break-inside-avoid">

                        <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-700 print:font-normal">
                            CONTACT
                        </h2>

                        <section class="mb-4 break-inside-avoid">
                            <ul class="list-inside pr-7">
                                <li class="mt-1.5 leading-normal text-gray-700 text-md">
                                    <a href="mailto:dwightledet@gmail.com">email</a>
                                </li>
                            </ul>
                        </section>

                    </div>

                </section>

            </div>
            <!-- end Column -->

        </div>
        <!-- end Page -->

    </main>
    <script type="text/javascript">
        var sc_project = 11972292;
        var sc_invisible = 1;
        var sc_security = "c0ad3e44";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/11972292/0/c0ad3e44/1/" alt="Web Analytics"></a>
        </div>
    </noscript>
</body>

</html>