{% extends 'base.html' %}
{% block content %}

        <div class="w-full md:w-2/3 order-2 md:order-2 border-t md:border-none">
            <div class="max-w-prose leading-loose tracking-tight">   
                <section class="text-gray-600 body-font">
                    <div class="container px-2 py-12 mx-auto">
                      <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                        <div class="flex-grow sm:text-left  mt-6 sm:mt-0">
                          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Hybrid Wind Farm</h2>
                          <p class="leading-relaxed text-base">The implementation of artifical neural networks into hybrid wind farms for dual electricity and hydrogen production. </p>
                          <a href="https://github.com/daledet/wind-project" target="_blank" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        </div>
                      </div>
                      <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                        <div class="flex-grow sm:text-left mt-6 sm:mt-0">
                          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">WellSav Automation</h2>
                          <p class="leading-relaxed text-base">Two decades of oilfield experience have lead to this: the industry’s most reliable conventional and PMCD drilling automation package.</p>
                          <a href="https://wellsav.com/" target="_blank" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                              <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                      <div class="flex items-center mx-auto sm:flex-row flex-col">
                        </div> 
                        <div class="flex-grow sm:text-left mt-6 sm:mt-0">
                          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Personal Website</h2>
                          <p class="leading-relaxed text-base">Personal website built in Django and Python to showcase past and current software development projects.</p>
                          <a href="https://github.com/daledet/dalab" target="_blank" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                              <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>

    </div>

</body>
{% endblock %}


